/* @import url(//fonts.googleapis.com/earlyaccess/notosanskr.css); */

h3 {
	font-weight: 200;
	font-size: 35px;
	letter-spacing: 0px;
	margin-bottom: 30px;
}

p{margin:0 0 20px}

.hero-container {
	text-align: left;
}

@media (max-width:992px) {
	.hero-content {
		text-align: left;
	}
}

.row{margin-right:-15px;margin-left:-7px}

.icon{
	margin-right: 10px;
}

#about {
    padding-top: 0px;
    padding-bottom: 0px;
}

#map {
	height: 400px;  /* The height is 400 pixels */
    width: 100%;  /* The width is the width of the web page */
}

.btn-fantafo{
	background-color: #534FC3;
	color:#fff;
	padding: 10px;
	font-size: 16px;
	border-radius: 40px;
	padding-right: 20px;
	padding-left: 20px;
}

/*--- Columns Five ---*/
.col-xs-14,
.col-sm-14,
.col-md-14,
.col-lg-14 {
	position: relative;
	min-height: 1px;
	padding-right: 10px;
	padding-left: 10px;
}
.col-xs-14 {
	width: 25%;
	float: left;
}
@media (min-width: 768px) {
.col-sm-14 {
		width: 25%;
		float: left;
	}
}
@media (min-width: 992px) {
	.col-md-14 {
		width: 25%;
		float: left;
	}
}
@media (min-width: 1200px) {
	.col-lg-14 {
		width: 25%;
		float: left;
	}
}

h1 strong,
h2 strong,
h3 strong,
h4 strong,
h5 strong,
h6 strong,
a strong,
.bold {
	color:#6A6A6A;
}

.scroll-btn {
	left: 50%;
}

.cbp-caption-zoom .cbp-caption-activeWrap{
	bottom: 0px !important;
	top: auto;
	height: 15% !important;
	background: rgba(94, 91, 192, 0.7);
}

.blog-thumb-desc{
    padding: 10px 12px 20px 12px;
    background-color: #FAFAFA;
}

.technology{
    height: 200px;
}

.technology-icon{
    width: 80px;
}

.feature-left {
	text-align: left;
	margin: 20px 0;
	padding: 0px 7px;
}

.portfolio-grid-boxed, .portfolio-masonry-boxed, .portfolio-metro-boxed, .portfolio-no-gutter-boxed {
	margin-bottom: 20px;
	overflow: hidden;
}

.about-fantafo .p{
	font-size: 16px;
	text-align: justify;
}

.blog-thumb-desc .explanation{
	text-align: justify;
}

.overlay:before {
	background-image: none;
	background-repeat: repeat;
	background-color: transparent;
}
@media (max-width: 992px){
	.overlay:before {
		background-image: url(../img/assets/dot-pattern.png);
		background-repeat: repeat;
		background-color: rgba(0,0,0,0.5);
	}
}

.img-fantafo{
	position: absolute; top: 0; left: 0; max-width: 100%; height: auto; -webkit-transform: translate(-50%,-50%); -ms-transform: translate(-50%,-50%); transform: translate(-50%,-50%);
}