<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <script type="text/javascript" id="www-widgetapi-script" src="https://s.ytimg.com/yts/jsbin/www-widgetapi-vflzC3nHZ/www-widgetapi.js" async=""></script>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Fantafo-홈페이지</title>
    <link href="img/assets/favicon.png" rel="icon" type="image/png">
    <link href="css/plugins.css" rel="stylesheet" type="text/css">
    <link href="css/theme.css" rel="stylesheet" type="text/css">
    <link href="css/ionicons.min.css" rel="stylesheet" type="text/css">
    <link href="css/et-line-icons.css" rel="stylesheet" type="text/css">
    <link href="css/themify-icons.css" rel="stylesheet" type="text/css">
    <link href="fonts/lovelo/stylesheet.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Raleway:100,200,300,400%7COpen+Sans:400,300" rel="stylesheet" type="text/css">
    <link href="css/custom.css" rel="stylesheet" type="text/css">
    <link href="css/colors/blue.css" id="color-scheme" rel="stylesheet" type="text/css">
    <link href="css/fantafo.css" rel="stylesheet" type="text/css">
    <link href="css/daneden-animate.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css"/>
    <!-- <script type="text/javascript" src="https://cdn.syndication.twimg.com/widgets/timelines/455427632419442688?&amp;lang=en&amp;callback=__twttrf.callback&amp;suppress_response_codes=true&amp;rnd=0.5936793853451683"></script> -->
    <style>
        h3,
        h4{
            font-family: "Open Sans", sans-serif;
        }
        p{
            font-family: "Open Sans", sans-serif;
            text-align: justify;
        }
        h1 strong,
        h2 strong,
        h3 strong,
        h4 strong,
        h5 strong,
        h6 strong,
        a strong,
        .bold {
            font-family: "Open Sans", sans-serif;
            font-weight: bold;
        }
    </style>
</head>
<body style="opacity: 1;">

<!-- Start Header -->
<nav class="navbar navbar-default fullwidth transparent nav-small">
    <div class="container">

        <div class="navbar-header">
            <div class="container">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar top-bar"></span>
                    <span class="icon-bar middle-bar"></span>
                    <span class="icon-bar bottom-bar"></span>
                </button>
                <a class="navbar-brand" th:href="@{/}"><img src="img/logo/logo-light_2.png" class="logo-light" alt="#"><img src="img/logo/logo-dark_2.png" class="logo-dark" alt="#"></a>
            </div>
        </div>

        <div id="navbar" class="navbar-collapse collapse">
            <div class="container">
                <ul class="nav navbar-nav menu-right">
                    <li><a style="font-weight: bold;" href="#home">HOME</a></li>
                    <li><a style="font-weight: bold;" href="#ABOUT">ABOUT</a></li>
                    <li><a style="font-weight: bold;" href="#TECHNOLOGY">TECHNOLOGY</a></li>
                    <li><a style="font-weight: bold;" href="#PORTFOLIO">PORTFOLIO</a></li>
                    <li><a style="font-weight: bold;" href="#contact-us">CONTACT US</a></li>
                </ul>

            </div>
        </div>
    </div>
</nav>
<!-- End Header -->

<!-- Hero -->
<section id="home" class="hero-fullwidth hero-video overlay">
    <iframe youtube-video-id="bFV6WKjNbx4" id="vossen-youtube" frameborder="0" allowfullscreen="1" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" title="YouTube video player" width="2216.8888888888887" height="1247" src="https://www.youtube.com/embed/bFV6WKjNbx4?playlist=bFV6WKjNbx4&amp;autoplay=1&amp;controls=0&amp;showinfo=0&amp;loop=1&amp;enablejsapi=1&amp;widgetid=1" style="left: -476.5px; top: -150px;"></iframe>
    <!-- HOME SECTION -->

    <div class="hero-container container">
        <div class="hero-content">
            <div class="col-sm-12 mr-auto white pt20 pb20" style="padding-right: 0px; padding-left: 0px;">
                <h2 class="large mt20 mb40 main-fantafo"><span class="bold" style="color: #ffffff;">VIRTUAL REALITY</span></h2>
                <h2 class="large mt20 mb40 main-fantafo"><span class="bold" style="color: #ffffff;">ARGUMENTED REALITY</span></h2>
                <h2 class="large mt20 mb40 main-fantafo"><span class="bold" style="color: #ffffff;">MULTIPLAY SOLUTION</span></h2>
            </div>
            <a href="#ABOUT" class="scroll-btn"><i class="ion-chevron-down"></i></a>
        </div>
    </div>

</section>
<!-- End Hero -->

<!-- About -->
<section id="ABOUT" class="pt30 bg-grey">
    <div class="container">
        <div class="vertical-align">
            <div class="col-md-12 text-left pr40 about-fantafo">
                <h3><b><strong>ABOUT <span style="color:#3F3D7F">FANTAFO</span></strong></b></h3>
                <p>FANTAFO는 가상현실, 증강현실, 모바일 등 다양한 플랫폼에서 다수의 인원이 동시에 콘텐츠를 체험 및 공유하도록 서비스를 제공합니다.</p>
                <p>중앙관리시스템 FIMS (Fantafo Interaction Management Solution)를 통해 다수의 디바이스 및 콘텐츠를 동시에 관리합니다.</p>
                <p>국방, 공학, 건강, 교육 등 여러 분야에서의 활용을 통해 플랫폼기반 미래 교육 문화를 선도합니다.</p>
            </div>

            <div class="col-md-9 mb30" data-aos="fade-up">
                <img src="img/vr/main.png" class="img-responsive width100" alt="#">
                <!-- <img src="img/vr/main.png" class="img-responsive width100 animated fadeInUp fast" alt="#"> -->
            </div>

        </div>
    </div>
</section>
<!-- End About -->

<!-- TECHNOLOGY -->
<section id="TECHNOLOGY" class="pt30 pb30">
    <div class="container">
        <div class="row">
            <div class="col-md-12 section-heading pt40">
                <h3><b><strong>TECHNOLOGY</strong></b></h3>
                <h4 style="margin-bottom:30px; font-size: 22px"><strong>중앙관리솔루션 <b><span style="color:#3F3D7F">FIMS</span></b></strong></h4>
                <div style="height:720px;">
                    <iframe class="youtube-player" type="text/html" width="100%" height="91%" src="http://www.youtube.com/embed/5pUj4vbmgQQ?autoplay=1&amp;loop=1;playlist=5pUj4vbmgQQ&mute=1&controls=1" frameborder="0" allowfullscreen></iframe>
                </div>


                <h4 class="text-left"><strong><b><span style="color:#3F3D7F">FIMS</span></b> 주요 기능</strong></h4>

                <div class="row">
                    <div class="col-sm-4 feature-left technology" data-aos="fade-up">
                        <div class="blog-thumb-desc">
                            <div class="technology-icon">
                                <img src="img/system/1_Dashboard.svg" class="img-responsive width100" alt="#">
                            </div>
                            <h5><strong>LMS 대시보드</strong></h5>
                            <div class="explanation">LMS 대시보드 관리자의 원활한 교육 관리 및 학습자 관리를 위해 접근성이 높은 웹 페이지 기반 LMS 대시보드를 제공합니다.</div>
                        </div>
                    </div>
                    <div class="col-sm-4 feature-left technology" data-aos="fade-up">
                        <div class="blog-thumb-desc">
                            <div class="technology-icon">
                                <img src="img/system/2_Grouping.svg" class="img-responsive width100" alt="#">
                            </div>
                            <h5><strong>학습자 그룹핑</strong></h5>
                            <div class="explanation">학습자 그룹핑 교육에 참여하는 학습자들을 하나의 그룹으로 지정하여 관리자가 편리하게 관리할 수 있도록 기능을 제공합니다. 최대 50명의 학습자 그룹핑</div>
                        </div>
                    </div>
                    <div class="col-sm-4 feature-left technology" data-aos="fade-up">
                        <div class="blog-thumb-desc">
                            <div class="technology-icon">
                                <img src="img/system/3_tools.svg" class="img-responsive width100" alt="#">
                            </div>
                            <h5><strong>다양한 교육 도구</strong></h5>
                            <div class="explanation">VR 환경에 관리자가 참여하여 브러쉬, 텍스트, 이미지, 3D Object를 활용한 교육으로 학습자의 집중력 및 이해도를 향상합니다.</div>
                        </div>
                    </div>
                    <div class="col-sm-4 feature-left technology" data-aos="fade-up">
                        <div class="blog-thumb-desc">
                            <div class="technology-icon">
                                <img src="img/system/4_MDM.svg" class="img-responsive width100" alt="#">
                            </div>
                            <h5><strong>MDM 솔루션</strong></h5>
                            <div class="explanation">Android OS기반 VR, Mobile 디바이스 다수를 동시에 제어 및 관리 가능합니다. 발열량, 배터리 잔량, 서버 연결 상태 관리 등</div>
                        </div>
                    </div>
                    <div class="col-sm-4 feature-left technology" data-aos="fade-up">
                        <div class="blog-thumb-desc">
                            <div class="technology-icon">
                                <img src="img/system/5_Mirroring.svg" class="img-responsive width100" alt="#">
                            </div>
                            <h5><strong>화면 미러링</strong></h5>
                            <div class="explanation">가상 환경에서 교육을 받고 있는 학습자의 화면을 미러링하여 관리자 PC에서 확인 가능합니다.<br> <br> </div>
                        </div>
                    </div>
                    <div class="col-sm-4 feature-left technology" data-aos="fade-up">
                        <div class="blog-thumb-desc">
                            <div class="technology-icon">
                                <img src="img/system/6_Upload.svg" class="img-responsive width100" alt="#">
                            </div>
                            <h5><strong>콘텐츠 업로드</strong></h5>
                            <div class="explanation">관리자 개인 스토리지를 통해 이미지, 영상 등 콘텐츠를 스토리지에 업로드하고 학습자 디바이스에 전송할 수 있습니다.</div>
                        </div>
                    </div>
                    <div class="col-sm-4 feature-left technology" data-aos="fade-up">
                        <div class="blog-thumb-desc">
                            <div class="technology-icon">
                                <img src="img/system/7_Installer.svg" class="img-responsive width100" alt="#">
                            </div>
                            <h5><strong>APK 자동 설치</strong></h5>
                            <div class="explanation">Installer를 통해 관리자 PC와 USB로 연결된 디바이스에 APK 파일 전송 후 자동으로 설치 및 권한 획득 가능합니다.</div>
                        </div>
                    </div>
                    <div class="col-sm-4 feature-left technology" data-aos="fade-up">
                        <div class="blog-thumb-desc">
                            <div class="technology-icon">
                                <img src="img/system/8_Server.svg" class="img-responsive width100" alt="#">
                            </div>
                            <h5><strong>Local, Cloud 동시 지원</strong></h5>
                            <div class="explanation">Local Server와 Cloud Server를 동시 지원하여 네트워크 환경에 구애받지 않고 다양한 환경에서 교육 진행이 가능합니다.</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End TECHNOLOGY -->

<!-- PORTFOLIO -->
<section id="PORTFOLIO" class="pt30 pb30 bg-grey">
    <div class="container">
        <div class="row">
            <div class="col-md-12 section-heading pt40">
                <h3><b><strong>PORTFOLIO</strong></b></h3>
            </div>
            <div class="portfolio-grid-boxed cbp" id="js-grid">
                <div th:each="portfolio : ${portfolioList}" class="cbp-item web-design graphic" style="min-height: 300px" >
                    <a th:href="${portfolio.link}" class="cbp-caption">
                        <div class="cbp-caption-defaultWrap">
                            <img th:src="${portfolio.img}" style="min-height: 300px">
                        </div>
                        <div class="cbp-caption-activeWrap">
                            <div class="cbp-l-caption-alignCenter">
                                <div class="cbp-l-caption-body">
                                    <div class="cbp-l-caption-title" th:text="${portfolio.tittle}"></div>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            </div>

            <div class="col-md-12 section-heading pt10">
                <a th:href="@{/portfolio}" class="btn btn-mg btn-circle btn-fantafo">MORE</a>
            </div>
        </div>
    </div>
</section>
<!-- End PORTFOLIO -->

<!-- PARTNERS -->
<section id="PARTNERS" class="pt30 pb100">
    <div class="container">
        <div class="row">
            <div class="col-md-12 section-heading pt40">
                <h3><b><strong>PARTNERS</strong></b></h3>
            </div>
            <div id="clients-slider-2" class="owl-carousel">
                <div><img src="img/clients/1.png" class="img-responsive" alt="#"></div>
                <div><img src="img/clients/2.png" class="img-responsive" alt="#"></div>
                <div><img src="img/clients/3.png" class="img-responsive" alt="#"></div>
                <div><img src="img/clients/4.png" class="img-responsive" alt="#"></div>
                <div><img src="img/clients/5.png" class="img-responsive" alt="#"></div>
                <div><img src="img/clients/6.png" class="img-responsive" alt="#"></div>
                <div><img src="img/clients/7.png" class="img-responsive" alt="#"></div>
                <div><img src="img/clients/8.png" class="img-responsive" alt="#"></div>
                <div><img src="img/clients/9.png" class="img-responsive" alt="#"></div>
                <div><img src="img/clients/10.png" class="img-responsive" alt="#"></div>
                <div><img src="img/clients/11.png" class="img-responsive" alt="#"></div>
                <div><img src="img/clients/12.png" class="img-responsive" alt="#"></div>
                <div><img src="img/clients/13.png" class="img-responsive" alt="#"></div>
                <div><img src="img/clients/14.png" class="img-responsive" alt="#"></div>
                <div><img src="img/clients/15.png" class="img-responsive" alt="#"></div>
            </div>

        </div>
    </div>
</section>
<!-- End PARTNERS -->



<!-- CONTACT US -->
<section id="contact-us" class="pt30 pb30 bg-grey">
    <div class="container">
        <div class="vertical-align">
            <div class="col-md-6 text-left mt40 mb40">
                <h3><b><strong>CONTACT US</strong></b></h3>
                <div class="row">
                    <div class="col-md-14 col-sm-14 col-xs-14">
                        <p><i class="ion-ios-location icon"></i>오시는 길</p>
                    </div>
                    <div class="col-md-7 col-sm-7 col-xs-7">
                        <p><b>약수역 7번출구 직진방향 100m(약수타임타워)</b></p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-14 col-sm-14 col-xs-14">
                        <p><i class="ion-ios-telephone icon"></i>전화번호</p>
                    </div>
                    <div class="col-md-7 col-sm-7 col-xs-7">
                        <p><b>02-6447-0054, 0055</b></p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-14 col-sm-14 col-xs-14">
                        <p><i class="ion-ios-person icon"></i>사업자 정보</p>
                    </div>
                    <div class="col-md-7 col-sm-7 col-xs-7">
                        <div class="row">
                            <div class="col-md-14 col-sm-14 col-xs-14">
                                <p>상호명</p>
                            </div>
                            <div class="col-md-7 col-sm-7 col-xs-7">
                                <p><b>주식회사 판타포</b></p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-14 col-sm-14 col-xs-14">
                                <p>대표자</p>
                            </div>
                            <div class="col-md-5 col-sm-5 col-xs-5">
                                <p><b>이한진</b></p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-14 col-sm-14 col-xs-14">
                                <p>이메일</p>
                            </div>
                            <div class="col-md-5 col-sm-5 col-xs-5">

                                <a href="mailto:contact@fantafo.com" style="color:#00b1ff; font-weight: bold">contact@fantafo.com</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-6 mt40 mb40">
                <!-- Map -->
                <section class="vossen-map color-map">
                    <!-- Paste your map iframe here -->
                    <div id="map"></div>
                    <script>
                        function initMap() {
                            var uluru = {lat: 37.552045, lng: 127.008681};
                            var map = new google.maps.Map(document.getElementById('map'), {
                                center: uluru,
                                zoom: 17
                            });
                            var marker = new google.maps.Marker({position: uluru, map: map});
                        }
                    </script>
                    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA1men7h-FgyBNhaR9VteH1uUYEh46SlEc&callback=initMap"
                            async defer></script>
                </section>
                <!-- End Map -->
            </div>

        </div>
    </div>
</section>
<!-- End CONTACT US -->

<!-- Start Back To Top -->
<a id="back-to-top" style="opacity: 0;"><i class="icon ion-chevron-up"></i></a>
<!-- End Back To Top -->

<!-- Scripts -->
<script src="https://www.youtube.com/iframe_api"></script>
<script src="js/jquery.min.js"></script>
<script src="js/plugins.js"></script>
<script src="https://unpkg.com/aos@next/dist/aos.js"></script>
<script src="js/scripts.js"></script>
</head>
</html>



</body></html>