<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Fantafo-portfolio</title>
    <link href="img/assets/favicon.png" rel="icon" type="image/png">
    <link href="css/plugins.css" rel="stylesheet" type="text/css">
    <link href="css/theme.css" rel="stylesheet" type="text/css">
    <link href="css/ionicons.min.css" rel="stylesheet" type="text/css">
    <link href="css/et-line-icons.css" rel="stylesheet" type="text/css">
    <link href="css/themify-icons.css" rel="stylesheet" type="text/css">
    <link href="fonts/lovelo/stylesheet.css" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Raleway:100,200,300,400%7COpen+Sans:400,300' rel='stylesheet' type='text/css'>
    <link href="css/custom.css" rel="stylesheet" type="text/css">
    <link href="css/colors/blue.css" id="color-scheme" rel="stylesheet" type="text/css">
    <link href="css/daneden-animate.css" rel="stylesheet">
    <link href="css/fantafo.css" rel="stylesheet" type="text/css">
    <style>
        h3,
        h4{
            font-family: "Open Sans", sans-serif;
        }
        p{
            font-family: "Open Sans", sans-serif;
            text-align: justify;
        }
        h1 strong,
        h2 strong,
        h3 strong,
        h4 strong,
        h5 strong,
        h6 strong,
        a strong,
        .bold {
            font-family: "Open Sans", sans-serif;
            font-weight: bold;
        }
    </style>
</head>
<body>

<!-- Start Header -->
<nav class="navbar navbar-default fullwidth transparent nav-small">
    <div class="container">

        <div class="navbar-header">
            <div class="container">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar top-bar"></span>
                    <span class="icon-bar middle-bar"></span>
                    <span class="icon-bar bottom-bar"></span>
                </button>
                <a class="navbar-brand" th:href="@{/}"><img src="img/logo/logo-light_2.png" class="logo-light" alt="#"><img src="img/logo/logo-dark_2.png" class="logo-dark" alt="#"></a>
            </div>
        </div>

        <div id="navbar" class="navbar-collapse collapse">
            <div class="container">
                <ul class="nav navbar-nav menu-right">
                    <li><a th:href="@{/#HOME}">HOME</a></li>
                    <li><a th:href="@{/#ABOUT}">ABOUT</a></li>
                    <li><a th:href="@{/#TECHNOLOGY}">TECHNOLOGY</a></li>
                    <li><a th:href="@{/#PORTFOLIO}">PORTFOLIO</a></li>
                    <li><a th:href="@{/#contact-us}">CONTACT US</a></li>
                </ul>

            </div>
        </div>
    </div>
</nav>
<!-- End Header -->

<!-- Portfolio -->
<section class="portfolio bg-white">
    <div class="container">
        <div class="row">

            <div class="col-md-12 section-heading pt40">
                <h3><b>PORTFOLIO</b></h3>
            </div>

            <div class="portfolio-grid-boxed cbp" id="js-grid">
                <div th:each="portfolio : ${portfolioList}" class="cbp-item web-design graphic" >
                    <a th:href="@{/portfolioDetail(index=${portfolioStat.index})}" class="cbp-caption">
                        <div class="cbp-caption-defaultWrap">
                            <img th:src="${portfolio.img}" style="min-height: 300px">
                        </div>
                        <div class="cbp-caption-activeWrap">
                            <div class="cbp-l-caption-alignCenter">
                                <div class="cbp-l-caption-body">
                                    <div class="cbp-l-caption-title" th:text="${portfolio.tittle}"></div>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            </div>

        </div>
    </div>
</section>
<!-- End Portfolio -->

<!-- Start Back To Top -->
<a id="back-to-top"><i class="icon ion-chevron-up"></i></a>
<!-- End Back To Top -->

<!-- Scripts -->
<script src="js/jquery.min.js"></script>
<script src="js/plugins.js"></script>
<script src="js/scripts.js"></script>

</body>
</html>